
<div class="logo-wrapper logo-wrapper-center">
                    <a href="index.html" data-bs-original-title="" title="">
                        <img style="height: 70px;padding:10px" class="img-fluid for-white" src="/Users/images/logo/logo_white.png" alt="logo">
                    </a>
					<h2 style="position:absolute;top:20px;right:50px;color:white">Admin Panel</h2>
					</div>
<section class="vh-100" style="background-color: #ECECEC;">
	<div class="mask d-flex align-items-center">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6">
					<div class="card" style="border-radius: 15px;">
						<div class="card-body p-5">
							<h2 class="text-uppercase text-center mb-5">Admin Login</h2>

							<form action="" method="POST">

								<div class="form-outline mb-3">
									<input type="text" name="email" class="form-control form-control-lg" />
									<label class="form-label"  >Username</label>
								</div>

								
								<div class="form-outline mb-3">
									<input type="password" name="password" class="form-control form-control-lg" />
									<label class="form-label" >Password</label>
								</div>
										<a href="./forgotten-password.html" class="text-muted small	">Forgot your password?</a>


								<div class="d-flex justify-content-center">
									<button type="submit" class="btn btn-block btn-lg"
										style="background-color: #282828;"><span
											style="color: white;">Login</span></button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>