<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{!--
  login signup page style --}}

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />


  <!-- ::::::::::::::Favicon icon::::::::::::::-->
  <link rel="shortcut icon" href="/Users/images/favicon.ico" type="image/png">

  <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/Users/css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="/Users/css/vendor/ionicons.css">
  <link rel="stylesheet" href="/Users/css/vendor/simple-line-icons.css">
  <link rel="stylesheet" href="/Users/css/vendor/jquery-ui.min.css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/Users/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="/Users/css/plugins/animate.min.css">
  <link rel="stylesheet" href="/Users/css/plugins/nice-select.css">
  <link rel="stylesheet" href="/Users/css/plugins/venobox.min.css">
  <link rel="stylesheet" href="/Users/css/plugins/jquery.lineProgressbar.css">
  <link rel="stylesheet" href="/Users/css/plugins/aos.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="/Users/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</head>

<body>

{{>header}}
  {{{body}}}
{{>footer}}
  <!-- MDB Login Signup -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

  <!-- ::::::::::::::All JS Files here :::::::::::::: -->
  <!-- Global Vendor, plugins JS -->
  <script src="/Users/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/Users/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="/Users/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/Users/js/vendor/popper.min.js"></script>
  <script src="/Users/js/vendor/bootstrap.min.js"></script>
  <script src="/Users/js/vendor/jquery-ui.min.js"></script>

  <!--Plugins JS-->
  <script src="/Users/js/plugins/swiper-bundle.min.js"></script>
  <script src="/Users/js/plugins/material-scrolltop.js"></script>
  <script src="/Users/js/plugins/jquery.nice-select.min.js"></script>
  <script src="/Users/js/plugins/jquery.zoom.min.js"></script>
  <script src="/Users/js/plugins/venobox.min.js"></script>
  <script src="/Users/js/plugins/jquery.waypoints.js"></script>
  <script src="/Users/js/plugins/jquery.lineProgressbar.js"></script>
  <script src="/Users/js/plugins/aos.min.js"></script>
  <script src="/Users/js/plugins/jquery.instagramFeed.js"></script>
  <script src="/Users/js/plugins/ajax-mail.js"></script>

  <!-- Use the minified version files listed below for better performance and remove the files listed above -->
  <!-- <script src="/Users/js/vendor/vendor.min.js"></script>
    <script src="/Users/js/plugins/plugins.min.js"></script> -->

  <!-- Main JS -->
  <script src="/Users/js/main.js"></script>
    <script src="/Users/js/validateform.js"></script>

</body>

</html>