{{!-- <div style="height: 80px;background-color:#282828">


    <img style="height: 70px;padding:10px" src="/Users/images/logo/logo_white.png" alt="">
</div> --}}
<section class="vh-100" style="background-color: #ECECEC;">
    <div class="mask d-flex align-items-center">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create New Password</h2>
                            {{#if message}}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                            {{else if error}}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                                     {{/if}}

                            <form action="" method="POST">

                                <div class="form-outline mb-3">
                                    <input type="text" name="password" placeholder="Enter New Password"
                                        class="form-control form-control-lg" />
                                    <label class="form-label">New Password</label>
                                </div>
                                <div class="form-outline mb-3">
                                    <input type="text" placeholder="Comfirm New Password"
                                        class="form-control form-control-lg" />
                                    <label class="form-label">Comfirm New Password</label>
                                </div>
                                <input type="hidden" name="email" value="{{email}}">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" value="Verify" class="btn btn-block btn-lg"
                                        style="background-color: #282828;"><span
                                            style="color: white;">Submit</span></button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>